* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, #1282a2, white);
}

.todo {
	width: 22.5rem;
	margin: 6.25rem auto;

	&__header {
		background-color: #1282a2;
		text-align: center;
	}

	&__title {
		color: white;
		margin: 0;
		padding: 0.5rem;
	}

	&__form {
		display: flex;
		justify-content: space-between;
	}

	&__input {
		flex-grow: 1;
		border: none;
		padding: 0.8125rem;
		font-size: 1rem;
		outline: none;
	}

	&__add-btn {
		cursor: pointer;
		padding: 0.5rem 0.8125rem;
		font-size: 1rem;
		border: none;
		outline: none;
	}

	&__task-list {
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: #f7f7ef;
	}

	&__task {
		padding: 0.75rem;
		cursor: pointer;
		position: relative;

		&--complete {
			color: gray;
			text-decoration: line-through;
		}

		&:nth-of-type(2n) {
			background-color: #ccc7c7;
		}
	}

	&__del-btn {
		padding: 0.75rem;
		position: absolute;
		top: 0;
		right: 0;

		&:hover {
			cursor: pointer;
			background-color: #df2935;
			color: white;
			transition: 400ms;
		}
	}
}